@foreach (var task in @Model)
{
<p>@task.GetDescription()      @task.GetDueDate()</p>
}
<br>
<a href="/">Home</a>

<form action="/TaskList/" method="post">
  <button type="submit" class="btn btn-success">Delete All Tasks</button>
</form>
